Repository AlebrijeLabs/alebrije-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alebrije-admin, @alebrije-frontend-team, @alebrije-contract-team, @alebrije-docs-team, @alebrije-bot-team, @alebrije-test-team

Fix IDL import path and prepare for deployment
  alebrije-website/alebrije-frontend/src/main.tsx
  alebrije-website/src/utils/getProgram.ts
  remove_node_modules.sh
Owners: @alebrije-frontend-team, @alebrije-admin

Update branding from Xolo-Inu to Alebrije Token
  .gitignore
  alebrije-wallet/build/asset-manifest.json
  alebrije-wallet/build/index.html
  alebrije-wallet/build/static/css/main.c8a53bee.css
  alebrije-wallet/build/static/css/main.c8a53bee.css.map
  alebrije-wallet/build/static/js/37.e70eda2f.chunk.js
  alebrije-wallet/build/static/js/37.e70eda2f.chunk.js.map
  alebrije-wallet/build/static/js/918.2d3d5589.chunk.js
  alebrije-wallet/build/static/js/918.2d3d5589.chunk.js.map
  alebrije-wallet/build/static/js/main.1d53d84d.js
  alebrije-wallet/build/static/js/main.1d53d84d.js.LICENSE.txt
  alebrije-wallet/build/static/js/main.1d53d84d.js.map
  alebrije-website/src/pages/HomePage.tsx
Owners: @alebrije-admin

Fix netlify build command order - build before copying whitepaper
  netlify.toml
Owners: @alebrije-admin

Fix: Deploy main website app instead of empty frontend subdirectory
  netlify.toml
Owners: @alebrije-admin

Consolidate: Move main website into alebrije-frontend for deployment
  .DS_Store
  alebrije-wallet/.DS_Store
  alebrije-website/alebrije-frontend/netlify.toml
  alebrije-website/alebrije-frontend/package-main.json
  alebrije-website/alebrije-frontend/src/App.css
  alebrije-website/alebrije-frontend/src/App.tsx
  alebrije-website/alebrije-frontend/src/WalletContext.tsx
  alebrije-website/alebrije-frontend/src/assets/react.svg
  alebrije-website/alebrije-frontend/src/components/BurnButtonComponent.tsx
  alebrije-website/alebrije-frontend/src/components/icons/XIcon.tsx
  alebrije-website/alebrije-frontend/src/contexts/WalletConnectionProvider.tsx
  alebrije-website/alebrije-frontend/src/idl/Alebrije.json
  alebrije-website/alebrije-frontend/src/index.css
  alebrije-website/alebrije-frontend/src/main.tsx
  alebrije-website/alebrije-frontend/src/pages/HomePage.css
  alebrije-website/alebrije-frontend/src/pages/HomePage.tsx
  alebrije-website/alebrije-frontend/src/pages/redeploy.txt
  alebrije-website/alebrije-frontend/src/utils/getProgram.ts
  alebrije-website/alebrije-frontend/src/vite-env.d.ts
  alebrije-website/package-lock.json
Owners: @alebrije-admin, @alebrije-frontend-team

Consolidate: Move main website into alebrije-frontend for deployment
  alebrije-website/alebrije-frontend/netlify.toml
Owners: @alebrije-frontend-team

Fix: Regenerate clean package-lock.json without React Native dependencies
  alebrije-website/alebrije-frontend/package-lock.json
  alebrije-website/alebrije-frontend/package.json
Owners: @alebrije-admin

Fix: Add base directory to netlify.toml for correct build context
  alebrije-website/alebrije-frontend/netlify.toml
Owners: @alebrije-frontend-team

Fix: Move netlify.toml to repository root and commit updated dependencies
  alebrije-website/package-lock.json
  netlify.toml
Owners: @alebrije-admin

Fix: Update Vite config for Solana polyfills - deploy to test on Netlify
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

Fix: Externalize process/browser modules as suggested by Netlify diagnosis
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

Fix: Full-width layout - remove body flex centering and ensure homepage takes full viewport
  alebrije-website/alebrije-frontend/src/index.css
  alebrije-website/alebrije-frontend/src/pages/HomePage.css
Owners: @alebrije-frontend-team

Fix: Move Alebrije creature images to public/Images for proper Netlify deployment
  alebrije-website/alebrije-frontend/public/Cat-Chameleon.png
  alebrije-website/alebrije-frontend/public/Crab-Dragonfly.png
  alebrije-website/alebrije-frontend/public/Dragon-Jaguar.png
  alebrije-website/alebrije-frontend/public/Eagle-Lizard.png
  alebrije-website/alebrije-frontend/public/Fox-Butterfly.png
  alebrije-website/alebrije-frontend/public/Frog-Hummingbird.png
  alebrije-website/alebrije-frontend/public/Horse-Phoenix.png
  alebrije-website/alebrije-frontend/public/Images/Cat-Chameleon.png
  alebrije-website/alebrije-frontend/public/Images/Crab-Dragonfly.png
  alebrije-website/alebrije-frontend/public/Images/Dragon-Jaguar.png
  alebrije-website/alebrije-frontend/public/Images/Eagle-Lizard.png
  alebrije-website/alebrije-frontend/public/Images/Fox-Butterfly.png
  alebrije-website/alebrije-frontend/public/Images/Frog-Hummingbird.png
  alebrije-website/alebrije-frontend/public/Images/Horse-Phoenix.png
  alebrije-website/alebrije-frontend/public/Images/Owl-Serpent.png
  alebrije-website/alebrije-frontend/public/Images/Sheep-Coyote.png
  alebrije-website/alebrije-frontend/public/Images/Snake-Quetzal.png
  alebrije-website/alebrije-frontend/public/Images/Turtle-Bat.png
  alebrije-website/alebrije-frontend/public/Images/Wolf-Fish.png
  alebrije-website/alebrije-frontend/public/Owl-Serpent.png
  alebrije-website/alebrije-frontend/public/Sheep-Coyote.png
  alebrije-website/alebrije-frontend/public/Snake-Quetzal.png
  alebrije-website/alebrije-frontend/public/Turtle-Bat.png
  alebrije-website/alebrije-frontend/public/Wolf-Fish.png
Owners: @alebrije-frontend-team

Update X icon to replace Twitter bird with proper X logo and styling
  alebrije-website/alebrije-frontend/src/pages/HomePage.css
  alebrije-website/alebrije-frontend/src/pages/HomePage.tsx
Owners: @alebrije-frontend-team

Fix: X icon size to match other social media buttons for perfect symmetry
  alebrije-website/alebrije-frontend/src/components/icons/XIcon.tsx
Owners: @alebrije-frontend-team

Fix: X icon background transparency to match other social buttons perfectly
  alebrije-website/alebrije-frontend/src/pages/HomePage.css
Owners: @alebrije-frontend-team

Trigger deployment - fix 404 issue
  alebrije-website/alebrije-frontend/public/robots.txt
Owners: @alebrije-frontend-team

Fix deployment - force rebuild
  alebrije-website/alebrije-frontend/public/robots.txt
Owners: @alebrije-frontend-team

Force new deployment - fix 404
  alebrije-website/alebrije-frontend/public/robots.txt
Owners: @alebrije-frontend-team

🤖 Add complete Telegram bot implementation - Bot live at t.me/ALBJTokenBot
  .DS_Store
  telegram-bot/README.md
  telegram-bot/bot.js
  telegram-bot/config.js
  telegram-bot/package-lock.json
  telegram-bot/package.json
Owners: @alebrije-admin, @alebrije-bot-team

Update WalletContext.tsx - simplified wallet adapters to Phantom + Solflare only
  alebrije-frontend/src/WalletContext.tsx
  src/WalletContext.tsx
Owners: @alebrije-admin

Fix: Replace require() with ES6 import for wallet adapter styles
  alebrije-frontend/src/WalletContext.tsx
  src/WalletContext.tsx
Owners: @alebrije-admin

🚀 MAINNET DEPLOYMENT: Smart contract live + website updated - Program ID: 26Uv9ibbjvqLYLjGCHuYE9xcPwVmd3JGsMzAqYMaSZY3 - Network: mainnet-beta - Smart burn mechanism LIVE
  Anchor.toml
  SMART-BURN-IMPLEMENTATION.md
  alebrije-website/alebrije-frontend/src/WalletContext.tsx
  alebrije-website/alebrije-frontend/src/contexts/WalletConnectionProvider.tsx
  alebrije-website/alebrije-frontend/src/idl/Alebrije.json
  alebrije-website/alebrije-frontend/src/utils/getProgram.ts
  alebrije-website/alebrije-frontend/src/utils/tokenOperations.ts
  alebrije-website/src/WalletContext.tsx
  alebrije-website/src/contexts/WalletConnectionProvider.tsx
  alebrije-website/src/idl/Alebrije.json
  alebrije-website/src/pages/HomePage.tsx
  alebrije-website/src/utils/getProgram.ts
  programs/alebrije-coin/Cargo.lock
  programs/alebrije-coin/Cargo.toml
  programs/alebrije-coin/src/lib.rs
Owners: @alebrije-admin, @alebrije-docs-team, @alebrije-frontend-team

Remove discord-bot submodule to fix deployment
  .gitmodules
Owners: @alebrije-admin

Force Netlify rebuild - mainnet deployment
  README.md
Owners: @alebrije-docs-team

Force Netlify rebuild - mainnet deployment
  README.md
Owners: @alebrije-docs-team

Wallet optimization and deployment updates
  .DS_Store
  alebrije-website/alebrije-frontend/src/WalletContext.tsx
Owners: @alebrije-admin, @alebrije-frontend-team

.github/CODEOWNERS:

# This is a CODEOWNERS file. It defines who is responsible for different parts of the codebase.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @alebrije-admin

# Frontend specific files
/alebrije-website/alebrije-frontend/ @alebrije-frontend-team
/alebrije-website/alebrije-frontend/src/ @alebrije-frontend-team
/alebrije-website/alebrije-frontend/public/ @alebrije-frontend-team

# Smart contract files
/contracts/ @alebrije-contract-team
/scripts/ @alebrije-contract-team

# Documentation
/docs/ @alebrije-docs-team
*.md @alebrije-docs-team
/alebrije-website/alebrije-frontend/public/whitepaper.html @alebrije-docs-team

# Configuration files
*.json @alebrije-admin
*.yml @alebrije-admin
*.yaml @alebrije-admin
*.config.js @alebrije-admin
*.config.ts @alebrije-admin

# GitHub specific files
.github/ @alebrije-admin
.github/workflows/ @alebrije-admin
.github/CODEOWNERS @alebrije-admin

# Bot related files
/bot/ @alebrije-bot-team
/discord-bot/ @alebrije-bot-team
/telegram-bot/ @alebrije-bot-team

# Tests
/__tests__/ @alebrije-test-team
*.test.ts @alebrije-test-team
*.test.tsx @alebrije-test-team
jest.config.js @alebrije-test-team
jest.setup.js @alebrije-test-team

# Security sensitive files
*.key @alebrije-admin
*.pem @alebrije-admin
*-keypair.json @alebrije-admin
.env* @alebrije-admin
