Repository AlebrijeLabs/alebrije-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alebrije-admin, @alebrije-frontend-team, @alebrije-contract-team, @alebrije-docs-team, @alebrije-bot-team, @alebrije-test-team

chore: remove duplicate workflow files
  alebrije-website/alebrije-frontend/.github/workflows/ci-cd.yml
  alebrije-website/alebrije-frontend/.github/workflows/deploy.yml
  alebrije-website/alebrije-frontend/alebrije-website/.github/workflows/ci-cd.yml
  alebrije-website/alebrije-frontend/alebrije-website/.github/workflows/deploy.yml
Owners: @alebrije-admin

chore: update gitignore to exclude cache and large files
  .gitignore
Owners: @alebrije-admin

fix: update Netlify configuration and remove submodule
  netlify.toml
Owners: @alebrije-admin

fix: ensure .gitmodules is empty and remove all submodule references
  .gitmodules
Owners: @alebrije-admin

feat: update frontend services and constants
  alebrije-website/alebrije-frontend/src/constants/index.ts
  alebrije-website/alebrije-frontend/src/services/staking-service.ts
  alebrije-website/alebrije-frontend/src/services/token-service.ts
Owners: @alebrije-frontend-team

fix: remove submodule references from main branch
  .gitmodules
Owners: @alebrije-admin

fix: track main project files and update .gitignore
  .gitignore
Owners: @alebrije-admin

fix: add vite config for Solana dependencies
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.ts
Owners: @alebrije-admin

fix: add PDF verification script and update build command
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/verify-pdf.js
Owners: @alebrije-admin, @alebrije-frontend-team

fix: update vite config and package.json for Solana dependencies
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.ts
Owners: @alebrije-admin

fix: update build configuration for Solana dependencies
  alebrije-website/alebrije-frontend/.npmrc
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.ts
Owners: @alebrije-frontend-team, @alebrije-admin

fix: simplify vite config and downgrade vite version
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

fix: properly configure Vite 5 for Solana dependencies
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

fix: explicitly mark Solana dependencies as external
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

fix: configure proper module resolution for Solana dependencies
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

fix: use Vite's built-in module resolution for Solana dependencies
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

fix: add global variables for Solana dependencies
  alebrije-website/alebrije-frontend/index.html
  alebrije-website/alebrije-frontend/public/solana-globals.js
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-frontend-team, @alebrije-admin

fix: bundle Solana dependencies directly
  alebrije-website/alebrije-frontend/index.html
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-frontend-team, @alebrije-admin

fix: update Netlify configuration and build settings
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

chore: remove unnecessary files
  alebrije-website/alebrije-frontend/public/solana-globals.js
  alebrije-website/alebrije-frontend/vite.config.ts
Owners: @alebrije-frontend-team, @alebrije-admin

fix: update netlify.toml with correct build settings
  netlify.toml
Owners: @alebrije-admin

fix: update Node.js version to 20.18.0 for Solana packages
  netlify.toml
Owners: @alebrije-admin

fix: update Node.js version and externalize Solana packages
  alebrije-website/alebrije-frontend/package.json
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

fix: update verify-pdf.js to use correct paths and copy actual whitepaper
  alebrije-website/alebrije-frontend/verify-pdf.js
Owners: @alebrije-frontend-team

fix: verify main.tsx is external and whitepaper.pdf exists
  alebrije-website/alebrije-frontend/vite.config.js
Owners: @alebrije-admin

fix: update netlify config for proper SPA routing
  alebrije-website/alebrije-frontend/netlify.toml
Owners: @alebrije-frontend-team

fix: move netlify.toml to root and update publish path
  alebrije-website/alebrije-frontend/netlify.toml
Owners: @alebrije-frontend-team

optimize: add caching and optimize build process
  alebrije-website/alebrije-frontend/.gitignore
Owners: @alebrije-frontend-team

fix: update vite config for correct asset paths
  alebrije-website/alebrije-frontend/vite.config.js
  netlify.toml
Owners: @alebrije-admin

fix: update netlify config to use built-in caching
  netlify.toml
Owners: @alebrije-admin

fix: update GitHub Actions workflow to use Netlify CLI directly
  .github/workflows/ci-cd.yml
Owners: @alebrije-admin

fix: update deploy workflow to use Netlify CLI directly
  .github/workflows/deploy.yml
Owners: @alebrije-admin

fix: consolidate deployment workflows and fix path issues
  .github/workflows/ci-cd.yml
Owners: @alebrije-admin

fix: improve secrets handling in workflow
  .github/workflows/ci-cd.yml
Owners: @alebrije-admin

chore: remove redundant deploy workflow
  .github/workflows/deploy.yml
Owners: @alebrije-admin

fix: improve secret validation in workflow
  .github/workflows/ci-cd.yml
Owners: @alebrije-admin

fix: remove duplicate secret references
  .github/workflows/ci-cd.yml
Owners: @alebrije-admin

fix: remove duplicate secret references
  .github/workflows/ci-cd.yml
Owners: @alebrije-admin

chore: update workflow and configuration files
  .github/workflows/ci-cd.yml
  alebrije-website/alebrije-frontend/package.json
  netlify.toml
Owners: @alebrije-admin

chore: remove node_modules from git tracking
  .DS_Store
Owners: @alebrije-admin

.github/CODEOWNERS:

# This is a CODEOWNERS file. It defines who is responsible for different parts of the codebase.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @alebrije-admin

# Frontend specific files
/alebrije-website/alebrije-frontend/ @alebrije-frontend-team
/alebrije-website/alebrije-frontend/src/ @alebrije-frontend-team
/alebrije-website/alebrije-frontend/public/ @alebrije-frontend-team

# Smart contract files
/contracts/ @alebrije-contract-team
/scripts/ @alebrije-contract-team

# Documentation
/docs/ @alebrije-docs-team
*.md @alebrije-docs-team
/alebrije-website/alebrije-frontend/public/whitepaper.html @alebrije-docs-team

# Configuration files
*.json @alebrije-admin
*.yml @alebrije-admin
*.yaml @alebrije-admin
*.config.js @alebrije-admin
*.config.ts @alebrije-admin

# GitHub specific files
.github/ @alebrije-admin
.github/workflows/ @alebrije-admin
.github/CODEOWNERS @alebrije-admin

# Bot related files
/bot/ @alebrije-bot-team
/discord-bot/ @alebrije-bot-team
/telegram-bot/ @alebrije-bot-team

# Tests
/__tests__/ @alebrije-test-team
*.test.ts @alebrije-test-team
*.test.tsx @alebrije-test-team
jest.config.js @alebrije-test-team
jest.setup.js @alebrije-test-team

# Security sensitive files
*.key @alebrije-admin
*.pem @alebrije-admin
*-keypair.json @alebrije-admin
.env* @alebrije-admin
